.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px;
  border-radius: 4px;
  background-color: var(--background-color);
  background-image: radial-gradient(
    circle 300px at top left,
    rgba(3, 199, 180, 0.1),
    transparent 45%
  );
}

.card-toggle {
  display: flex;
  align-items: top;
}

.toggle-label {
  @media (max-width: 480px) {
    display: none;
  }
}

.toggle-label {
  @media (max-width: 480px) {
    display: none;
  }
}

.card-header {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 16px;
}

.hidden .card-body {
  display: none;
}
