.button {
  height: var(--base-button-height);
  border: 1px solid var(--border-tertiary);
  border-radius: 4px;
  min-width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
