.linkButton {
  height: var(--base-button-height);
  width: 100%;
  display: inline-flex;
  padding: 0;
  align-items: center;
}

.icon {
  width: var(--base-button-height);
  height: var(--base-button-height);
  border: 1px solid var(--border-secondary);
  border-radius: 4px;
  flex-shrink: 0;
}

.label {
  flex-grow: 1;
  text-align: left;
  margin: 0 12px;
}
