:root {
  font-family: sans-serif, system-ui, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* ftmo styles */
  --content-white: #ffffff;
  --content-primary: #ffffff;
  --content-secondary: #e9e9e9;
  --content-tertiary: #c1c7d3;
  --background-color: #262729;
  --separator-color: #36373b;
  --button-primary: #0781fe;
  --active-color: #0781fe;
  --border-secondary: #36373b;
  --border-tertiary: #535456;

  --sucess-background: rgba(3, 199, 180, 0.1);
  --success-color: #03c7b4;
  --danger-background: rgba(255, 54, 72, 0.1);
  --danger-color: #ff3648;
  /* --badge-success-bg: #03C7B4; */
  /* --badge-outline-bg: #0781FE; */

  --base-button-height: 48px;

  background-color: gray;
  color: #ffffff;
  font-size: var(--font-size-md);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--separator-color);
  margin: 12px 0;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --background-color: #ffffff;
    --separator-color: #eaeaea;
    --content-primary: #262729;
    --content-secondary: #262729;
    --content-secondary: #36373b;
    --content-tertiary: #737a86;
    --border-secondary: #eaeaea;
    --border-tertiary: #9b9c9d;
  }
}
